<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tarefa registrada</title>
</head>
<body>
    <h1>Tarefa registrada, ROCK</h1>

    <iframe width="560" height="315"
            src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1"
            title="confirmacao"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>

    <p><a th:href="@{/tarefas}">Voltar para a lista</a></p>
</body>
</html>
